#team_description {
    margin-top: 50px;
    gap: clamp(0rem, 3rem, 5rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    #team_description h1{
        color: black;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    #team_description  p{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.4;
    }

    #team_description  .description-wrapper{
        margin: 0 2rem;
        max-width: 42rem;
        display: flex;
        flex-direction: column;
    }

#paral_team{
    max-width: 31rem;
}

@media (max-width: 1000px){
    #team_description{
        flex-direction: column;
    }
}

@media(max-width: 800px){
    #team_description h1{
        text-align: center;
    }
}

@media(max-width: 500px){
    #paral_team{
        max-width: 18rem;
        justify-content: center;
    }

    #team_description h1{
        font-size: 2.5rem;
    }

}

/* -----------------------------*/
/* -------- Hvorfor Paral? -----*/
/* ---------------------------- */
#the-values{
    display: flex;
    flex-direction: column;
    margin: 7rem;
}
#the-values h2{
        font-size: 3rem;
        justify-content: flex-start;
    }

.textboxes{
    margin-top: 1rem;
}

#the-values .textbox{
    border: transparent;
    border-left: 2px solid var(--info-color);
    border-radius: 10px;
    background-color: transparent;
    padding: 1rem;
    margin: 1rem;
    padding-left: 1rem;
    max-width: 70rem;
}
    #the-values .textbox h5{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 1rem;
    }
    #the-values .textbox p{
        font-weight: normal;
        padding-bottom: 1rem;
        font-size: 20px
    }

    #the-values .textbox .horizontal-border{
        display: none;
    }


@media (max-width: 1600px) {
    #the-values  { 
        margin: 3rem;
    } 
        #the-values h2{
            margin-top: 5rem;
            margin-bottom: 2rem;
        }   
}

    @media (max-width: 800px){
        #the-values{
            margin: 1rem;
            padding: 0;
        }

        #the-values .textboxes{
        display: flex;
        flex-direction: column;
        }

        #the-values h2{
            text-align: center;
            font-size: 30px;
            margin-bottom: 1rem;
        }
        #the-values .textbox{
            border-left: 0;
            padding: 0;
            margin: 0;
            border-top: 1.3px solid var(--info-color);
            padding-top: 0.5rem;
            }        
    }

@media(max-width: 400px){
    #the-values h5{
        text-align: center;
    }

        #the-values h2{
            font-size: 1.5rem;
            margin: 5rem 0 0;
        }


}

/* -----------------------------*/
/* -------Prosjekt Prosess------*/
/* ---------------------------- */
    #project_process h2{
        margin-bottom: 5rem;
        font-size: clamp(1.5rem, 2.5rem, 3rem);
        display: flex;
        justify-content: center;
    }

    #project_process .project-description-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5rem;
    }



    #project_process .textbox-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
    }

    #project_process .textbox{
    border: transparent;
    border-left: 1.3px solid var(--info-color);
    border-radius: 0;
    background-color: transparent;
    padding-left: 1rem;
    max-width: 495px;
}

    #project_process .textbox  h5{
        font-weight: bold;
        margin-bottom: 2rem;
        font-size: 20px;
        }
        
        #project_process .textbox  p{
        font-weight: normal;
        padding-bottom: 1rem;
        font-size: 20px;
        max-width: 400px;
    }


    #project_process img{
        width: 35px;
        height: 35px;
    }



/* For smaller screens */
    @media (max-width: 1500px) {
      
        #project_process{
            margin: 0;
        }

            #project_process .project-description-wrapper{
                display: grid;
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }

            #project_process h2{
                text-align: center;
            }

}


@media(max-width: 1000px){

    #project_process{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem 0;
    }

        #project_process h2{
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        #project_process .project-description-wrapper{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0;
        }

            #project_process .project-description-wrapper .textbox-wrap{
                flex-direction: column;
                gap: 1rem;
            }

                #project_process .project-description-wrapper .textbox-wrap .textbox{
                    border-top: 1.3px solid var(--info-color);
                    border-left: 0;
                    padding-top: 1rem; 
                }


}

@media (max-width: 800px) {
        #project_process .project-description-wrapper { 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        gap: 3rem 0;
        }

       #project_process img{
            place-self: center;
        }
        #project_process h2{
            flex-wrap: wrap; 
        }
        #project_process .textbox-wrap{
            flex-direction: column;
        }

}     
  


@media (max-width: 500px){
    #project_process { 
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
        #project_process h2{
            margin-bottom: 1rem;
            margin-top: 5rem;
        }

        #project_process .project-description-wrapper{
            padding: 0;
        }

            #project_process .project-description-wrapper .textbox-wrap{
                width: 90%;
            }
            
                #project_process .project-description-wrapper .textbox-wrap .textbox{
                border-top: 1.3px solid var(--info-color);
                border-left: 0;
                width: auto;
                }
}


