.hamburger-parent{
    display: none;
}

.off-screen-menu{
    display: none;
}

/* Hamburger menu */
@media(max-width: 1000px){
#desktop-nav{
    display: none;
}

.off-screen-menu {
        z-index: 1;
        background-color: var(--primary-color);
        font-family: var(--primary-font);
        height: 400px;
        width: 250px;
        position: fixed;
        right: -450px;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        font-size: 5rem;
        font-weight: bold;
        transition: .3s ease;
        border-radius: 5px 0 0 20px;
    }
        
        .off-screen-menu li{
            display: flex;            
            list-style: none;
            justify-content: center;
            margin: 40px 0;
        }
    
            .off-screen-menu a{
                color: white;
                line-height: 2;   
                font-size: 20px;     
            }

    .off-screen-menu.active{
        right: 0;
    }
    
    .hamburger-parent{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-color);
    }

    .hamburger-parent h1{
            font-weight: normal;
            color:white;
    }

    .hamburger-parent img{
        width: 40px;
    }

    .hamburger-parent p{
        color:white;
    }

    .hamburger-parent a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    #hamburger-logo{
        display: flex; 
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu{
        background-color: transparent;
        border: none;
        z-index: 2;
        cursor: pointer;
        position: relative;
        height: 50px;
        width: 50px;
    }
    
    .hamburger-menu span {
        z-index: 3;
        height: 5px;
        width: 100%;
        background-color: white;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    
    .hamburger-menu span:nth-child(1){
        top: 25%;
    }
    
    .hamburger-menu span:nth-child(3){
        top: 75%;
    }
    
    .hamburger-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .hamburger-menu.active span:nth-child(2){
        opacity: 0;
    }
    
    .hamburger-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .nav-links:focus{
        text-decoration: underline;
    }
}

@media (max-width: 800px){
    .off-screen-menu.active{
        justify-content: center;
    }
    
}
