#companyDescription {
    margin-top: 50px;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-color);
}

    #companyDescription h1{
        font-size:3rem;
        margin-bottom: 1rem;
    }

    #companyDescription p{
        font-size: 1.2rem;
        padding-bottom: 10px;
        line-height: 1.4;
    }

    #companyDescription img{
        max-width: 80%;
    }

    #companyDescription .description-wrapper{
        margin: 0 2rem;
        max-width: 42rem;
        display: flex;
        flex-direction: column;
    }
        
        #companyDescription .description-wrapper .body_btn{
            display: flex;
            justify-content: center;
            max-width: 15rem;
        }
        

@media (max-width: 1200px) {
#companyDescription {
    flex-direction: column;
    gap: 0rem;
    }  
}


@media (max-width: 600px) {
    #companyDescription h1{
        font-size: 2rem;
        
    }
}  

@media(max-width: 400px){
    #companyDescription .description-wrapper a{
        margin: 0 auto;
    }
}


/* Our services */
#ourServices{
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

    #ourServices h2{
    font-size: 2.5rem;
    font-weight: bold;
    }

    #ourServices p{
    font-size: 1.2rem;
    padding-bottom: 10px;
}

    @media(max-width: 800px){
        #ourServices h2{
            justify-content: center;
        }
        #ourServices p{
            justify-content: center;
        }
        #ourServices .body_btn{
            justify-content: center;
        }
    }



/* Boxes of service */

#serviceCategories{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

    #serviceCategories .textboxes {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, 460px);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    padding-bottom: 40px;
}
/* For smaller screens */
@media (max-width: 1400px) {
    #serviceCategories .textboxes { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
    @media (max-width: 1000px) {
        #serviceCategories .textboxes { 
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr); 
            padding: 0 20px;
        }
        
    }   

    #serviceCategories .textbox{
    border: 1.3px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    background: var(--secondary-color);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

    #serviceCategories .textbox h5{
        font-weight: normal;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    #serviceCategories .textbox p{
        font-weight: bold;
        padding-bottom: 1rem;
        font-size: 1.7rem;
    }

/* Programming languages */

#prog_languages{
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    gap: 3rem;
}
    #prog_languages .text-box-wrapper{
    display: flex;
    justify-content: space-evenly;
}

#prog_languages h2{
        display: flex;
        justify-content: center;
        grid-column: span 6;
        font-size: 2rem;
    }

    #prog_languages .logo-text-box {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    #prog_languages img{
        justify-content: center;
        align-content: center;
    }

    #prog_languages p{
    padding-top: 20px;
    font-weight: 600;
    text-align: center;
    }

    #prog_languages mark{
    font-weight: normal;
    background-color: transparent;
    color: #525252ab;
    }

    #prog_languages .image-background{
    background-color:rgba(167, 167, 167, 0.226);
    border-radius: 100%
    }

@media (max-width: 1400px){
    #prog_languages{
        padding: 0;
    }

}


@media (max-width: 1000px) {
#prog_languages .text-box-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}
}

@media(max-width: 400px){
    #prog_languages h2{
        font-size: 1.5rem;
    }
        #prog_languages .text-box-wrapper{
    display: flex;
    flex-direction: column;
}
}


/* Customer Reviews */

#customerReviews{
    margin-top: 10rem;
    font-family: var(--primary-font);
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
}
    
    /* Section title (Kundeuttalelser) */
    #customerReviews h2{
        padding-bottom: 3rem;
        font-family: var(--primary-font);
        font-size: 30px;
        font-weight: 700;
    }


    #customerReviews .reviewboxes{
        display: flex;
        justify-content: center;
        gap: 5rem;
        height: 100%;
        }

        #customerReviews .review-textbox{
        display: grid;
        grid-template-columns: 35px 1fr 100px;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        gap: 0.5rem;
        padding: 10px;
        background-color: var(--tertiary-color);
        border-radius: 5px;     
        max-width: 50rem;
    }   

        #customerReviews .review-textbox img{
                border-radius: 100%;
                max-width: 35px;
            }
            #customerReviews .review-textbox h5{
                padding-top: 6px;
                padding-left: 7px;
                font-size: 15px;
                font-weight: bolder;
                line-height: 1.5;
            }

            #customerReviews .review-textbox h6{
                grid-column: span 3;
                font-size: 15px;
            }

            #customerReviews .review-textbox p{
                grid-column: span 3;
                font-weight: 500;
            }

            #customerReviews .review-textbox #star_rating{
                padding-top: 5px;
                border-radius: 0%;
                max-width: 90px;
            }

    @media (max-width: 1300px) {

        #customerReviews{
            display: flex;
            flex-direction: column;
            align-items: center;        
        }
            #customerReviews .reviewboxes{
                flex-direction: column;
                gap: 2rem;
            }  
}



    @media (max-width: 900px) {
       #customerReviews{
            flex-direction: column;
            }
            #customerReviews .reviewboxes{
            justify-content: center;
            gap: 1rem;
        }

}

    @media(max-width: 500px){          
            #customerReviews .reviewboxes h2{
                margin-left: 1rem;
            }
            
            #customerReviews .reviewboxes .review-textbox{
                grid-template-rows: 1fr; 
                gap: 1rem;
            }
        
}


