#company-description {
    margin-top: 50px;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-color);
}

    #company-description h1{
        font-size:3rem;
        margin-bottom: 1rem;
    }

    #company-description p{
        font-size: 1.2rem;
        padding-bottom: 10px;
        line-height: 1.4;
    }

    #company-description img{
        max-width: 80%;
    }

    #company-description .description-wrapper{
        margin: 0 2rem;
        max-width: 42rem;
        display: flex;
        flex-direction: column;
    }
        
        #company-description .description-wrapper .body-button{
            display: flex;
            justify-content: center;
        }
        
#read-more-click{
    color: var(--info-color);
    cursor: pointer;
    text-decoration: underline;
}

#read-more-click:active{
    color: var(--primary-color-light);
}

.button-wrapper{
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
#company-description {
    flex-direction: column;
    gap: 0rem;
    }  
}


@media (max-width: 600px) {
    #company-description h1{
        font-size: 2rem;
        
    }
}  

@media(max-width: 400px){
    #company-description .description-wrapper a{
        margin: 0 auto;
    }
}


/* Our services */
#our-services{
    text-align: center;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

    #our-services h2{
    font-size: 2.5rem;
    font-weight: bold;
    }

    #our-services p{
    font-size: 1.2rem;
    padding-bottom: 10px;
}


    @media(max-width: 800px){
        #our-services h2{
            justify-content: center;
        }
        #our-services p{
            justify-content: center;
        }
        #our-services .body-button{
            justify-content: center;
        }
    }



/* Boxes of service */

#service-categories{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

#service-categories .textboxes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr) 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    margin: 0 2rem 2rem 3rem;
}

.services-top-row {
    grid-column: span 2;
    grid-row: 1; /* Put them in the second row */
}

.services-bottom-row {
    grid-column: span 3;
    grid-row: 2; /* Put them in the second row */
}

@media(max-width: 1000px){
    #service-categories .textboxes{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .services-top-row,
    .services-bottom-row {
        grid-row: auto;
        grid-column: auto;
    }

    .textbox:nth-child(5){
        grid-row: 3;
        grid-column: span 2;
    }
}

@media(max-width: 600px){
    .textbox:nth-child(5){
        grid-row: auto;
        grid-column: auto;
    }

    #service-categories .textboxes{
        margin: 0 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

}



    #service-categories .textbox{
    border: 1.3px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    background: var(--secondary-color);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

    #service-categories .textbox h5{
        font-weight: normal;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    #service-categories .textbox p{
        font-weight: bold;
        padding-bottom: 1rem;
        font-size: 1.7rem;
    }

/* Programming languages */

#prog-languages{
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    gap: 3rem;
}
    #prog-languages .text-box-wrapper{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
}

#prog-languages h2{
        display: flex;
        justify-content: center;
        grid-column: span 6;
        font-size: 2rem;
    }

    #prog-languages .logo-text-box {
    padding-top: 1rem;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2rem 2rem;
    place-items: center;
    }

    #prog-languages img{
        justify-content: center;
        align-content: center;
    }

    #prog-languages h6{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    }

    #prog-languages p{
    font-weight: normal;
    font-size: 1rem;
    background-color: transparent;
    color: #525252ab;
    }

    .image-background{
    background-color:rgba(167, 167, 167, 0.226);
    border-radius: 100%;
    margin-bottom: 15px;
    
    }



@media (max-width: 1400px){
    #prog-languages{
        padding: 0;
    }

}


@media (max-width: 1000px) {
#prog-languages .text-box-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}
}

@media(max-width: 400px){
    #prog-languages h2{
        font-size: 1.5rem;
    }
    #prog-languages .text-box-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(3, auto);
}
}


/* Customer Reviews */

#customer-reviews{
    margin-top: 10rem;
    font-family: var(--primary-font);
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
}
    
    /* Section title (Kundeuttalelser) */
    #customer-reviews h2{
        padding-bottom: 3rem;
        font-family: var(--primary-font);
        font-size: 30px;
        font-weight: 700;
    }

        .review-textbox{
        display: grid;
        grid-template-columns: 1fr 1fr 100px;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        gap: 0.5rem;
        padding: 10px 10px 10px 10px;
        background-color: var(--tertiary-color);
        border-radius: 5px;     
        max-width: 50rem;
    }   

    .review-company-name{
        grid-column: span 2;
        display: flex;
    }

        .review-company-logo{
                border-radius: 100%;
                max-width: 35px;
            }
            
            .review-textbox h5{
                padding-top: 6px;
                padding-left: 7px;
                font-size: 15px;
                font-weight: bolder;
            }

            .review-textbox h6{
                grid-column: span 3;
                font-size: 15px;
            }

            .review-textbox p{
                grid-column: span 3;
                font-weight: 500;
            }

            #star_rating{
                padding-top: 10px;
                border-radius: 0%;
                place-self: start center;
            }

    @media (max-width: 800px) {
        #customer-reviews{
            margin-right: 1rem;
            margin-left: 1rem;
        }

}


@media(max-width: 500px){                  
    #customer-reviews .reviewboxes .review-textbox{
                grid-template-rows: 35px 10rem 40px;
            }
}


